
@font-face{
  font-family: codeBold;
  src: url("/fonts/CODE Bold.otf");
}

@font-face{
  font-family: textAreaFont;
  src: url("/fonts/latin.otf");
}



h3.hstyle, p.pstyle{
  font-weight: bold;
  color: white;
  font-family:codeBold;
  text-align:left;
}
