@font-face{
  font-family: codeBold;
  src: url("/fonts/CODE Bold.otf");
  font-weight: small;
  font-style: small;
  font-size: 2px;
}
@font-face{
  font-family: textAreaFont;
  src: url("/fonts/LinLibertine_RZ.ttf");
  font-weight: normal;
}
html{
  height: auto;
}
div.container{
  position: relative;
  padding-bottom: 100px;
  min-height: 100%;
}

ul.navigatorbar {
  float:right;
  margin-right: 50px;
  position:static;
}

div.categories-navigator {
  display: block;
  position: relative;
  clear: both;
  margin-left: 2em;
}

div.titleDiv {
  float:left;
  position:static;
  margin-left: 50px;
}

div.topbar {
  background-color: white;
  overflow: auto;
}

div.proposal-container,div.comments-container,div.advise,div.personal-list {
  margin-left: auto;
  margin-right: auto;
  clear:both;
  padding-bottom: 100px;
}


li {
  white-space:nowrap;
  float: right;
  list-style: none;
  margin:10px;
}
li.list-navigation-elements{
  white-space: nowrap;
  float: left;
  list-style: none;
  margin-left: 50px;
}
a.n-element:link, a.n-element:visited,a.select-element:link,a.select-element:visited {
  display: block;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family:codeBold;
}

a.select-element:link{
  padding-bottom: 5px;
  border-bottom: 1px;
  border-bottom-style: groove;
  border-color: white;
}


div.footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;

}
div.footer-container{
  width: 100%;
  display: inline-block;
}
div.footer-paragraph{
  float:left;
  margin: 2px;
  margin-left: 25px;
  display: inline-block;
  color: #354050;
  font-family: codeBold;
}

div.logo-footer{
  float:right;
  display: inline-block;
}

div.list,div.list-home{
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

div.personal-list{
  clear: both;
  width: 50em;
  margin-left: 5em;
  margin-top: 5em;
  border:2px;
  border-style: dashed;
}

div.list-home{
  width: 45em;
  height: auto;
}

div.list{
  margin-top: 5em;
  width: 800px;

}
div.list-comments{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;

}

div.list-item, div.own-list-item,div.comment-list-item{
  position: relative;
  overflow: auto;
  background-color: white;
  width: auto;
  margin-bottom: 20px;
}

div.own-list-item{
  position: relative;
  width:auto;
}
div.title-item ,div.title-item-comment{
  height: 60px;
  position: relative;
  border:5px;
  padding-bottom: 10px;
  border-color: #354050;
  border-style: none none solid none;
}

div.title-item-comment{
  border-style: none;
  height: 10px;
}

div.comment-text{

}

div.title-proposal , div.item-date, div.title-comment{
  float: left;
}
div.div.title-comment{
  border:10px;
  border-style: solid;
}
div.author-proposal, div.item-votes,div.date-comment{
  margin-left: 100px;
  float: right;
}

div.item-votes{
  display: inline-block;
}

div.proposal,div.comment{
  position: relative;
  clear: both;
  border:5px;
  border-color: #354050;
  border-style: none none solid none;
}

div.comment{
  padding: -bottom: 2px;
}

p.proposal-textarea{
  text-align: left;
  margin: 10px;
  display: inline-block;
  font-family: textAreaFont;
}

p.proposal-label,p.comment-label,p.comment-label-admin{
  text-align: left;
  margin: 10px;
  display: block;
  margin-bottom: 10px;
}
p.comment-label-admin{
  color: #503540;
}
a.item-link:visited,a.item-link:link,p.item{
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  font-family:codeBold;
  display: inline-block;
}

div.advise{
  position: relative;
  margin: 50px;
}

p.white-p,a.white-a:link,a.white-a:visited{
  color:white;

}
a.white-a:link,a.white-a:visited{
  text-decoration: underline;
}

button.send-comment{
  float:right;
  margin:2px;
}

textarea.comment-textarea{
  border: 2px;
  border-style: solid;
  width: 40em;
  margin-top: 5px;
  margin-left: 2px;
  resize:none;
  border-color: #354050;
  color: #354050;
  font-size: 0.9em;
  font-family: textAreaFont;

}
