@font-face{
  font-family: codeBold;
  src: url("/fonts/CODE Bold.otf");
}
@font-face{
  font-family: textAreaFont;
  src: url("/fonts/latin.otf");
}
html{
  height: auto;
}
div.container{
  position: fixed;
  top:0px;
  left: 0px;
  right: 0px;
  bottom:0px;
  clear: both;
  overflow: auto;
}

ul.navigatorBar {
  z-index: 2;
  float:right;
  margin-right: 50px;
  position:static;
}

div.titleDiv {
  z-index: 2;
  float:left;
  position:static;
  margin-left: 50px;
}

div.topbar {
  z-index: -2;
  background-color: white;
  overflow: auto;
  position: static;
  width: auto;
}

div.propose-container,div.comments-container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  clear:both;
}


li {
  white-space:nowrap;
  float: right;
  list-style: none;
  margin:10px;
}
li.list-navigation-elements{
  white-space: nowrap;
  float: left;
  list-style: none;
  margin-left: 50px;
}
a.n-element:link, a.n-element:visited,a.select-element:link,a.select-element:visited {
  display: block;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family:codeBold;
}

a.select-element:link{
  padding-bottom: 5px;
  border-bottom: 1px;
  border-bottom-style: groove;
  border-color: white;
}


div.footer{
  background-color: white;
  position: relative;
  clear:both;
  height:25px;
  margin-top:180px;
  padding: 2.2em;
}

p.footer-paragraph{
  text-align: left;
  margin: 2px;
  margin-left: 25px;
}

div.list,div.list-home{
  position: relative;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

div.list-home{
  width: 45em;
}

div.list{
  margin-top: 5em;
  width: 800px;

}
div.list-comments{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;

  border: 2px;
  border-style: dashed;
}

div.list-item, div.own-list-item,div.comment-list-item{
  position: relative;
  overflow: auto;
  background-color: white;
  width: auto;
  margin-bottom: 20px;
}

div.own-list-item{
  position: relative;
  width:auto;
}
div.title-item ,div.title-item-comment{
  height: 60px;
  position: relative;
  border:5px;
  padding-bottom: 10px;
  border-color: #354050;
  border-style: none none solid none;
}

div.title-item-comment{
  border-style: none;
  height: 10px;
}

div.comment-text{

}

div.title-propose , div.item-date, div.title-comment{
  float: left;
}
div.div.title-comment{
  border:10px;
  border-style: solid;
}
div.author-propose, div.item-votes,div.date-comment{
  margin-left: 100px;
  float: right;
}

div.item-votes{
  display: inline-block;
}

div.propose,div.comment{
  position: relative;
  clear: both;
  border:5px;
  border-color: #354050;
  border-style: none none solid none;
}

div.comment{
  padding: -bottom: 2px;
}

p.propose-textarea{
  text-align: left;
  margin: 10px;
  display: inline-block;
  font-family: textAreaFont;
}

p.propose-label,p.comment-label,p.comment-label-admin{
  text-align: left;
  margin: 10px;
  display: block;
  margin-bottom: 10px;
}
p.comment-label-admin{
  color: #503540;
}
a.item-link:visited,a.item-link:link,p.item{
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  font-family:codeBold;
  display: inline-block;
}

div.advise{
  position: relative;
  margin: 50px;
}

p.white-p,a.white-a:link,a.white-a:visited{
  color:white;

}
a.white-a:link,a.white-a:visited{
  text-decoration: underline;
}

button.send-comment{
  float:right;
  margin:2px;
}

textarea.comment-textarea{
  border: 2px;
  border-style: solid;
  width: auto;
  margin-top: 5px;
  margin-left: 2px;
  resize:none;

}
