

input.text,input.text-proposta{
    color: black;
    border-style:solid;
    background:#FFFFFF;
    border-color: #354050;
    font-weight: normal;
    text-align: center;
}

input.text-proposta{
  text-align: left;
}


label{
    font-weight: bold;
    color: #354050;
    text-decoration: none;
    font-family: codeBold;
}

div.form-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 30em;
  background-color: white;
  margin-bottom: 13.2em;
}
div.form-container-proposta{
  margin: 2.5em ;
  width: 75em;
  background-color: white;
}

div.element-container-login,div.element-container-header,div.element-container-footer{
  text-align: center;
  padding: 0.5em;
}


div.element-container-registration,div.element-container-proposta{
  text-align: left;
  padding: 0.5em;
}

div.textbox-registration{
  float:right;
  display:inline-block;
  margin-left: 20px;
}

div.textbox-proposta{
  float:none;
  text-align: left;
  display: block;
}

div.element-container-header,div.element-container-footer{
  border:5px;
  border-style: none none solid;
  border-color: #354050;
}

div.element-container-footer{
  border:5px;
  border-style: solid none ;
  border-color: #354050;
}

textarea.textstyle {
  border: 1px;
  border-style: solid;
  width: 88em;
  resize:none;
  font-family:textAreaFont;
  border-color: #354050;
}

select {
  margin: 50px;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  font-size: 16px;
  font-family: codeBold;
  color: #354050;
  border-color: #354050;
  appearance: none;
  -webkit-appearance:none;
  -moz-appearance: none;
}
